@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit:wght@100;300;400;500;600;700;800&display=swap");

.transition-halfs{
    transition: 0.5s;
}
[type='text']:focus,[type='password']:focus,[type='email']:focus,[type='number']:focus,[type='tel']:focus,textarea:focus{
    outline: 2px solid transparent;
    box-shadow: none;
    border-color: none;

}

