@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.transition-halfs{
    transition: 0.5s;
}
[type='text']:focus,[type='password']:focus,[type='email']:focus,[type='number']:focus,[type='tel']:focus,textarea:focus{
    outline: 2px solid transparent;
    box-shadow: none;
    border-color: none;
    font-family: 'Montserrat', sans-serif !important;
}

.myListItemText {
    text-transform: uppercase;
    text-align: center;
    padding: 0.2rem;
    /* font-family: "Montserrat", sans-serif; */
  }